<a href="https://colab.research.google.com/github/aritro66/Heart-Disease-Prediction/blob/main/HeartDiseasePrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

Collecting and Processing Data

In [2]:
# Loading the dataset using Pandas function
heart_data = pd.read_csv('/content/heart.csv')

In [3]:
# Checking data of first 5 rows
heart_data.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [5]:
# Checking data of last 5 rows
heart_data.tail()

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[5 rows x 14 columns]

In [6]:
# No. of rows and columns
heart_data.shape

(303, 14)

In [7]:
# Getting more Information about data
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [8]:
# Checking Missing Values
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [9]:
# Analysing data
heart_data.describe()

              age         sex          cp  ...          ca        thal      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [10]:
# Checking the distribution of Target Variable
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

1 represents Suffering from heart disease

0 represents Not Suffering from heart disease

In [11]:
# Finding mean for target
heart_data.groupby('target').mean()

              age       sex        cp  ...     slope        ca      thal
target                                 ...
0       56.601449  0.826087  0.478261  ...  1.166667  1.166667  2.543478
1       52.496970  0.563636  1.375758  ...  1.593939  0.363636  2.121212

[2 rows x 13 columns]

In [12]:
# Separating data and labels
X = heart_data.drop(columns='target',axis=1)
Y = heart_data['target']
print(X.shape)
print(Y.shape)

(303, 13)
(303,)

Training and Testing data

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=3)

In [14]:
print(X_train.shape, y_train.shape)
print(X_test.shape,y_test.shape)

(242, 13) (242,)
(61, 13) (61,)

Modal Training using Logistic Regression

In [15]:
modal = LogisticRegression()
modal.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

Modal Evalution

In [17]:
# Accuracy of Training Data
train_prediction = modal.predict(X_train)
print('Accuracy of Training Data : ',accuracy_score(y_train,train_prediction))

Accuracy of Training Data :  0.8636363636363636

In [18]:
# Accuracy of Testing Data
test_prediction = modal.predict(X_test)
print('Accuracy of Testing Data : ',accuracy_score(y_test, test_prediction))

Accuracy of Testing Data :  0.8032786885245902

Making a Prediction using certain input

In [20]:
input_data=np.array([63,1,3,145,233,1,0,150,0,2.3,0,0,1])

# Reshaping Array
input_data=input_data.reshape(1,-1)

prediction = modal.predict(input_data)

if(prediction[0]==0):
  print("Not Suffering from heart disease.")
else:
  print("Suffering from heart disease.")

Suffering from heart disease.

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

Correct Prediction